h1{
    align-self: center;
    color:blueviolet;
}

.img-responsive{
    height:auto;
    width:100%;
    padding: 15px;
}

body{
    background-image: url(https://images.pexels.com/photos/1327405/pexels-photo-1327405.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}