h1{
    align-self: center;
    color:coral;
}

.img-responsive{
    height:auto;
    width:100%;
    padding: 15px;
}


body{
    background-color: burlywood;
}
    
h2{
    color: coral;
}
h3{
    color: rgb(175, 113, 91);
}